In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('02-Python_Assignment_PyBank_Resources_budget_data.csv')

In [3]:
print(df.head())

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [5]:
sum_of_columns = df.sum(axis=0)
print(sum_of_columns)

Date             Jan-2010Feb-2010Mar-2010Apr-2010May-2010Jun-20...
Profit/Losses                                             38382578
dtype: object

In [6]:
print(df.tail())

        Date  Profit/Losses
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

In [7]:
print("Total Number of Months Included in the Dataset = 85")

Total Number of Months Included in the Dataset = 85

In [8]:
Total_Number_of_Months = df['Date'].count()
print(Total_Number_of_Months)

86